<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Estoque</title>
<link rel="canonical"
	href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<style>
body {
	padding-top: 4.5rem;
}
</style>
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="container">
		<h1>Nota de Entrada</h1>
		<hr>
		<div>
			<form th:action="@{/entry-notes}" th:object="${entryNote}" method="POST">
				<input id="id" type="hidden" th:field="*{id}" />
				<div th:if="${!#strings.isEmpty(feedback)}"
					class="alert alert-success" role="alert">
					<span th:text="${feedback}"></span>
				</div>
				<div class="row justify-content-center ">
					<div class="col-4 mb-6">
						<label class="form-label" for="supplier">Fornecedor</label> 
						<select
							class="form-select" id="supplier"
							th:field="*{supplier.id}">
							<option value="">Selecione um fornecedor</option>
							<option th:each="supplier : ${suppliers}"
								th:value="${supplier.getId()}" th:text="${supplier.getBrand()}"></option>
						</select> 
						<span style="color: red"
							th:if="${#fields.hasErrors('supplier')}"
							th:errors="*{supplier}"></span>
					</div>
					<div class="col-4 mb-3">
						<label class="form-label" for="dateTime">Data da compra</label> <input
							class="form-control" id="dateTime" type="datetime-local"
							th:field="*{dateTime}" /><span style="color: red"
							th:if="${#fields.hasErrors('dateTime')}"
							th:errors="*dateTime}"></span>
					</div>
					<div class="col-4 mb-3">
						<label class="form-label" for="total">Total (R$)</label> <input
							class="form-control" id="total" th:field="*{total}"
							step="any" type="number" readonly /> <span style="color: red"
							th:if="${#fields.hasErrors('total')}"
							th:errors="*{total}"></span>
					</div>
					<div th:if="${entryNote.getId() != null}" class="mb-3">
						<hr>
						<a class="btn btn-sm btn-success" th:href="@{/entry-notes/{id}/item(id=${entryNote.id})}">Adicionar Produto</a>
							<table class="table table-hover">
								<thead>
									<tr>
										<td><b>PRODUTO</b></td>
										<td><b>QTDE</b></td>
										<td><b>VALOR UNT (R$)</b></td>
										<td><b>VALOR TOTAL (R$)</b></td>
										<td></td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${items}">
										<td th:text="${item.product.name}"></td>
										<td th:text="${item.quantity}"></td>
										<td th:text="${#numbers.formatDecimal(item.unitaryValue, 0, 'POINT', 2, 'COMMA')}"></td>
							            <td th:text="${#numbers.formatDecimal(item.subtotal, 0, 'POINT', 2, 'COMMA')}"></td>
							            <td>
							            	<a class="btn btn-sm btn-secondary" th:href="@{/entry-note-item/edit/{id}(id=${item.id})}">Editar</a>
							            </td>
							            <td>
							            	<a class="btn btn-sm btn-secondary" th:href="@{/entry-note-item/remove/{id}(id=${item.id})}">Remover</a>
							            </td>
									</tr>
								</tbody>
							</table>
					</div>
					<input class="col col-6 btn btn-primary" type="submit" value="Salvar" />
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		function formatValue(field) {
			var value = parseFloat($(field).val());
			if ( !isNaN(value) ) {
				$(field).val(value.toFixed(2));
			}
		}
		$(document).ready(function() {
			formatValue("#total");
		});
	</script>

</body>
</html>